name: Deploy Next.js Static to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install
        env:
          CI: false

      - name: Build & Export
        run: |
          npm run build
          npm run export
          ls -la out  # Verifica se a pasta existe

      - name: Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: ./out/
          server-dir: public_html/
          protocol: ftps
          port: 21
          passive: true
          dangerous-clean-slate: true
